[submodule "alma-rss-to-html"]
       	url = https://github.com/UMiamiLibraries/alma-rss-to-html.git
[submodule "pnxplease"]
       	url = https://github.com/UMiamiLibraries/pnxplease.git
[submodule "um-book-cover"]
       	url = https://github.com/UMiamiLibraries/um-book-cover.git
